<div class="nested-fields flex justify-center">
  <div class="form-group space-x-1 space-y-3 mb:space-y-0 justify-center flex flex-wrap">
    <div class="box58">
      <%= f.time_select :task_time, { minute_step: 15, default: nil, include_blank: true }, class:'input input-bordered input-primary w-20 max-w-xs mb-3', required:true %>
      <%= f.text_field :to_do, placeholder: "タスク", class: 'input input-bordered input-primary max-w-xs mb-3', required:true %>
      <%= f.text_field :memo, placeholder: "メモ", class: 'input input-bordered input-primary max-w-xs mb-3' %>
      <%= link_to_remove_association raw('<i class="fa-solid fa-trash"></i> 削除'), f, class: 'btn btn-outline btn-error' %>
    </div>
  </div>
</div>
