<div class="nested-fields flex justify-center">
  <div class="form-group p-1">
    <%= f.time_select :task_time, { minute_step: 15, include_blank: true }, class:'rounded' %>
    <%= f.text_field :to_do, placeholder: "タスク", class: 'rounded' %>
    <%= f.text_field :memo, placeholder: "メモ", class: 'rounded' %>
    <%= link_to_remove_association "削除", f, class: "btn btn-accent" %>
  </div>
</div>




