<div class="nested-fields">
  <ul>
    <li id="task-1" draggable="true">
      <div class="form-group justify-center items-center p-1">
        <i class="fa-solid fa-list"></i>
        <%= f.time_select :task_time, { minute_step: 15, include_blank: true }, class:'rounded' %>
        <%= f.text_field :to_do, placeholder: "タスク", class: 'rounded' %>
        <%= f.text_field :memo, placeholder: "メモ", class: 'rounded' %>
        <%= link_to_remove_association "削除", f, class: "btn btn-accent" %>
      </div>
    </li>
  </ul>
</div>

<script>
  $(document).on('cocoon:after-insert', function(e, insertedItem) {
    // 新しく追加されたフォーム要素に対して一意のIDを設定
    insertedItem.attr('id', 'task-' + Date.now());
  });

  document.querySelectorAll('li').forEach (element => {
    element.ondragstart = function () {
      event.dataTransfer.setData('text/plain', event.target.id);
    };
    
    element.ondragover = function () {
      event.preventDefault();
      this.style.borderTop = '3px solid';
    };

    element.ondragleave = function () {
      this.style.borderTop = "";
    };

    element.ondrop = function () {
      event.preventDefault();
      let id = event.dataTransfer.getData('text');
      let element_drag = document.getElementById(id);
      this.parentNode.insertBefore(element_drag, this);
      this.style.borderTop = '';
    };
  });
</script>


