<p style="color: green"><%= notice %></p>

<h1>Schedules</h1>

<div id="projects">
  <% @schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to "Show this project", schedule %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_schedule_path %>
