<div class="px-2 w-2/3">
  <div class="flex flex-wrap w-full bg-lime-50 relative ">
    <div class="text-center relative z-0 m-10" >
      <h2 class="text-xl text-gray-900 font-medium title-font mb-2">あなたの目標</h2>
      <ul class="text-left">
        <li>•早寝早起き</li>
        <li>•破滅思考にならない</li>
      </ul>
    </div>
  </div>
</div>