<div class="flex relative">
  <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
    <div class="h-full w-1 bg-lime-300"></div>
  </div>
  <div class="flex-shrink-0 w-24 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-600 text-white relative z-10 title-font font-medium text-sm">
    <%= task.task_time.strftime("%H:%M") %>
  </div>
  <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
    <div class="flex-grow sm:pl-6 mt-6 p-8 sm:mt-0">
      <h2 class="font-medium title-font text-gray-900 mb-1 text-xl"><%= task.to_do %></h2>
      <p class="leading-relaxed"><%= task.memo %></p>
    </div>
  </div>
</div>

