<main class="w-full">
  <div class="px-5 py-10 flex flex-wrap ">
    <div class="container px-5 mx-auto">
      <%= render "ai_message", task: @next_task %>
      <div class="container mx-auto">
        <div class="flex flex-wrap md:flex-nowrap">
          <%= render template: "goals/show", locals: { goal: @goal, step: @step } %>
          <div class="p-12 md:w-1/2 flex flex-col items-start">
            <div class="flex flex-wrap w-full bg-gray-100  py-16 sm:px-10 px-6 relative">
              <div class="w-full">
                <h2 class="text-xl text-gray-900 font-medium title-font mb-2">あなたのスケジュール</h2>
                <% if @schedules.empty? %>
                  <p>スケジュールを作成してください。</p>
                <% else %>
                  <% @schedules.each do |schedule| %>
                    <% schedule.tasks.each do |task| %>
                      <%= render "schedule", { schedule: schedule, task: task } %>
                    <% end %>
                  <% end %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 w-full">
        <%= render "achievement" %>
      </div>
    </div>
  </div>
</main>

