<%= turbo_stream.replace "achievement_#{params[:achievement_id]}" do %>
  <div id="achievement_<%= @achievement.id %>">
    <% if @achievement.check? %>
      <%= render "achievements/on_button", achievement: @achievement, step: @step %>
    <% else %>
      <%= render "achievements/off_button", achievement: @achievement, step: @step %>
    <% end %>
  </div>
<% end %>


