<section>
  <div class="container mx-auto">
    <div class="text-center">
      <div class="w-full mx-auto m-10 md:w-2/3" style="background: #ffe6e8; padding: 20px; border: 2px dashed #ffb6c1; box-shadow: 0 0 0 5px #ffe6e8; -moz-box-shadow: 0 0 0 5px #ffe6e8; -webkit-box-shadow: 0 0 0 5px #ffe6e8; font-size: 100%;">
        <div class="text-sm md:text-lg lg:text-xl flex flex-col justify-center space-y-2">
          <span id = "s1" class="inline-block overflow-hidden whitespace-nowrap  animate-s1">はじめまして ! 登録してくれてありがとにゃ〜！</span>
          <span id = "s2" class="inline-block overflow-hidden whitespace-nowrap animate-s1">これから一緒にがんばるにゃ</span>
          <span id = "s3" class="h-10 sm:h-5 inline-block overflow-hidden whitespace-pre-wrap sm:whitespace-nowrap animate-s1">まずは、キミがなりたい理想のジブンを教えてほしいにゃ！</span>
        </div>
        <div class="justify-center">
        <%= form_with model: @goal, url: goal_path, local: true do |f| %>
          <%= f.text_field :ideal_self, placeholder: "例 : 今の体重から5キロ痩せたい...など", class: 'rounded w-full text-center mt-10 sm:w-3/4' %>
          <div class="p-5 flex flex-col sm:flex-row justify-center items-center">
            <%= button_tag(type:'submit', class:"whitespace-nowrap bg-blue-400 py-2 px-5 w-auto rounded-lg text-white m-2") do %>
              <i class="fa-solid fa-check"></i> 登録
            <% end %>
          </div>
        <% end %>
        <%= button_to raw('<i class="fa-solid fa-angles-right"></i> あとで設定する'), skip_goal_path, class:"whitespace-nowrap bg-blue-400 py-2 px-5 w-auto rounded-lg text-white m-2" %>
      </div>
    </div>
  </div>
</section>
        <style>
        @keyframes s1 {
          0% { max-width: 0; }
          100% { max-width: 24em; }
        }
        @keyframes s2 {
          0% { max-width: 0; }
          66% { max-width: 0; }
          100% { max-width: 15em; }
        }
        @keyframes s3 {
          0% { max-width: 0; }
          66% { max-width: 0; }
          100% { max-width: 30em; }
        }
        #s1 {
          animation: s1 6s both;
        }
        #s2 {
          animation: s2 6s both;
        }
        #s3 {
          animation: s3 10s both;
        }
        </style>