<section class="md:mr-2 w-full md:w-1/2 flex flex-col relative overflow-auto" style="height: 40rem; border: dotted 2px #f7e9e8; padding: 1rem;">
  <%= render 'goals/goal_section', goal: goal %>
  <%= render 'steps/steps_section', steps: steps %>
</section>
