.box75{
	margin: 2em auto;
	background-color: #F6EEEC;/*ボックス背景色*/
	padding:2.5em 2em 2em;/*ボックス内側余白*/
	position:relative;/*配置(ここを基準に)*/
}
.box75 .box-title {
	background-image: repeating-linear-gradient(-45deg,#F6EEEC 0, #F6EEEC 3px,#fafafa 3px,#fafafa 6px);/*ストライプ*/
	border-left: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ左*/
	border-right: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ右*/
	transform: rotate(-2deg);/*テープの傾き*/
	font-size: 1em;/*タイトル文字の大きさ*/
	padding: 10px 20px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;	/*配置(ここを動かす)*/
	top: -15px; /*上から（-10px）移動*/
	left: 20px; /*左から(20px)移動*/
}

/*背景色をつけて角を丸くする*/
.box51 {
	margin: 2em auto;
	padding:2em;/*内側余白*/
	border-radius:30px;/*丸みを調整*/
	background-color:#F6EEEC;
}

/*背景ストライプ(ピンク)*/
.box58{
	margin: 2em auto;
	padding:2em;/*内側余白*/
	background: repeating-linear-gradient(-45deg, #faf5f3, #faf5f3 5px, #fff 0, #fff 10px);
}