<div>
  <%= button_to (achievement.daily.strftime('%-m/%-d')), day_check_step_path(id: step.id, achievement_id: achievement.id), method: :post, id:"updateButton", data: { step_id: step.id }, remote: true, class:"btn m-2 py-2 px-6 text-lg" %>
</div>


