<div class='flex flex-wrap'>
  <div><%= button_to '月曜日', add_day_check_home_path(@achievement, day_check: '1'), method: :post, class:"mx-auto m-3 bg-white border-2 py-2 px-6 rounded-full text-lg" %></div>
</div>
