<% days = ["月", "火", "水", "木", "金", "土", "日"] %>
  <div class='flex flex-wrap'>
    <% days.each do |day| %>
        <div><button class="mx-auto m-3 bg-white border-2 py-2 px-6 rounded-full text-lg"><%= day %></button></div>
    <% end %>
  </div>
