<div>
  <%= button_to t('date.abbr_day_names')[day], add_day_check_step_path(step.achievement, day: day), method: :post, id:"updateButton", data: { step_id: step.id }, remote: true, class:"btn btn-primary m-2 py-2 px-6 text-lg" %>
</div>
