<% days = ["月", "火", "水", "木", "金", "土", "日"] %>
  <div class='flex flex-wrap'>
    <% days.each do |day| %>
        <button class="mx-auto bg-red-200 border-2 py-2 px-6 rounded-full text-lg"><%= day %></button>
    <% end %>
  </div>